body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

    /* La personalización se utilza mediante variables css */
    --dile-app-drawer-content-width: 250px;
    --dile-hamburger-color: #fff;
    --dile-hamburger-padding-y: 0;
    --dile-hamburger-active-color: rgb(255, 255, 255);

    --dile-nav-background-color: #42a5f5;
    --dile-hamburger-active-color: #fff;
    --dile-app-drawer-background-color: #ffff8b;
    --dile-app-drawer-modal-background-color: rgba(20,20,20, 0.3);
    --dile-app-drawer-box-shadow: 1px 0 8px rgba(99,99,99, 0.3);
    --dile-selector-selected-text-color: #0077c2;
    --dile-selector-icon-color: #c9bc1f;
    --dile-selector-selected-icon-color: #a2d9fc;
}

h1{
    margin: 0;
    font-size: 1.3rem;
}

.title{
    display: flex;
    align-items: center;
}

dile-nav img{
    height: 1.8rem;
    margin-right: 0.5rem;
}

dile-menu-hamburger dile-selector{
    padding: 1rem 0rem;
}

dile-pages{
    padding: 1rem;
}

dile-pages h2{
    margin: 0px;
}